.vscode/

backend/output
backend/tempfiles
backend/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile
backend/target/maven-status/maven-compiler-plugin/compile/default-compile

xrechnung-visualization/

ZF232_EN.zip
ZF232_EN/
