.vscode/

*.db

/backend/output
/backend/tempfiles
/backend/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile
/backend/target/maven-status/maven-compiler-plugin/compile/default-compile

ZF232_EN.zip
ZF232_EN/

/backend/validator-configuration-xrechnung/
/backend/validator-configuration-zugferd/
/backend/validator/